body, html {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.esittely {
  margin: 20px;
  text-align: center;
}

.topnav {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.topnav a {
  display: flex;
  color: rgb(185, 185, 185);
  width: 33.33%;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-size: 1.6em;
  padding: 2rem;
  cursor: default;
}

.topnav a:hover {
  background-color: white;
  color: #a1ddc7;
}

.topnav a.active {
  background-color: white;
  color: #a1ddc7;
}
