.lehdet {
   display: flex;
   align-items: center;
   margin-top: 90px;
}

.tablink {
   background-color: rgb(241, 241, 241);
   float: left;
   border: none;
   outline: none;
   cursor: default;
   padding: 1em;
   font-size: 1rem;
   width: 33.33%;
   text-align: center;
   font-family: 'Quicksand', sans-serif;
}

#boomer {color: #626edb;}
#noppa {color: pink;}
#netti {color: rgb(190, 253, 222);}

#Boomerbotti {background-color: #626edb;}
#Roll-a-dice {background-color: pink;}
#Nettisivusto {background-color: rgb(190, 253, 222);}

#boomer:hover {
   background-color: #626edb;
   color: white;
}

#noppa:hover {
   background-color: pink;
   color: white;
}

#netti:hover {
   background-color: rgb(190, 253, 222);
   color: white;
}

.tabcontent {
   color: black;
   display: none;
   padding: 80px 60px;
   height: 100%;
   font-size: 1.1rem;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: left;
}

.content {
   margin: 1em 0em;
}