<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/index.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand" />
		<title>Etusivu</title>
	</head>

	<body>
		<!--Navigaatio-->
		<nav class="topnav">
			<a class="active" href="https://green-sky-1493.fly.dev/">ETUSIVU</a>
			<a href="https://green-sky-1493.fly.dev/projektit">PROJEKTIT</a>
			<a href="https://green-sky-1493.fly.dev/ansioluettelo" target="_blank" rel="noopener noreferrer">ANSIOLUETTELO</a>
		</nav>

		<main>
			<div class="esittely">
				<h3>Tervetuloa nettisivuilleni!</h3>
				<p>
					<br>
					Nimeni on Matleena Seppänen ja olen ohjelmoinnin sivutoiminen opiskelija.<br>
					Tämä on päivittyvä nettisivuprojekti, joka toimii sekä portfoliona, että demonstraationa nettidevaustaidoistani.<br>
					<br>
					Aloitin ohjelmoinnin päivätyöni ohessa keväällä 2022 materiaalinani Helsingin yliopiston Ohjelmoinnin perusteet -kurssi.<br>
					Taitojeni kohennuttua aloin tekemään myös itsenäisiä projekteja eri ohjelmointikielillä.<br>
					<br>
					Kahlailen kieliä ja konsepteja läpi kartoittaakseni alan tarjontaa sekä löytääkseni itselleni sopivinta tekemistä.<br>
					Vahvimmat kieleni ovat tällä hetkellä Python, HTML ja CSS.<br>
					<br>
					Tavoitteenani on tehdä täysi alanvaihdos ja työllistyä IT-alalle.<br>
				</p>
			</div>
			<div class="esittely">
				<p>
					<a href="https://github.com/kuolinhenkilo" target="_blank" rel="noopener noreferrer">GitHub</a><br>
					<br>
					matlee.seppanen@gmail.com<br>
				</p>
			</div>
		</main>
	</body>
</html>