<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/index.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand" />
		<title>Etusivu</title>
	</head>

	<body>
		<!--Navigaatio-->
		<nav class="topnav">
			<a class="active" href="https://green-sky-1493.fly.dev/">ETUSIVU</a>
			<a href="https://green-sky-1493.fly.dev/projektit">PROJEKTIT</a>
			<a href="https://green-sky-1493.fly.dev/ansioluettelo" target="_blank" rel="noopener noreferrer">ANSIOLUETTELO</a>
		</nav>

		<main>
			<div class="icontainer">
				<h3 class="iheader">Tervetuloa nettisivuilleni!</h3>
				<p class="icontent">
					Nimeni on Matleena Seppänen ja olen ohjelmoinnin sivutoiminen opiskelija. Tämä on päivittyvä nettisivuprojekti, joka toimii sekä portfoliona, että demonstraationa nettidevaustaidoistani.
				</p>
				<p class="icontent">
					Aloitin ohjelmoinnin päivätyöni ohessa keväällä 2022 materiaalinani Helsingin yliopiston Ohjelmoinnin perusteet -kurssi. Taitojeni kohennuttua aloin tekemään myös itsenäisiä projekteja eri ohjelmointikielillä.
				</p>
				<p class="icontent">
					Kahlailen kieliä ja konsepteja läpi kartoittaakseni alan tarjontaa sekä löytääkseni itselleni sopivinta tekemistä. Vahvimmat kieleni ovat tällä hetkellä Python, HTML ja CSS.
				</p>
				<p class="icontent">
					Tavoitteenani on tehdä täysi alanvaihdos ja työllistyä IT-alalle.
				</p>
			</div>
			<div class="icontainer">
				<a class="icontent" href="https://github.com/kuolinhenkilo" target="_blank" rel="noopener noreferrer">GitHub</a>
				<p class="icontent">
					matlee.seppanen@gmail.com
				</p>
			</div>
		</main>
	</body>
</html>