<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/projektit.css" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand" />
    <title>Projektit</title>
    <script>
      //Välilehdet
      function demo(pageName,elmnt,color) {
         var i, tabcontent, tablinks;
         tabcontent = document.getElementsByClassName("tabcontent")
         for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none"
         }
         tablinks = document.getElementsByClassName("tablink")
         for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = ""
         }
         document.getElementById(pageName).style.display = "block"
         
         elmnt.style.backgroundColor = color
      }
    </script>
  </head>

  <body>
    <!--Navigaatio-->
    <nav class="topnav">
      <a href="https://green-sky-1493.fly.dev/">ETUSIVU</a>
			<a class="active" href="https://green-sky-1493.fly.dev/projektit">PROJEKTIT</a>
			<a href="https://green-sky-1493.fly.dev/ansioluettelo" target="_blank" rel="noopener noreferrer">ANSIOLUETTELO</a>
		</nav>

    <!--Välilehdet-->
    <div class="lehdet">
      <button id="boomer" class="tablink" onclick="demo('Boomerbotti', this, '#626edb')">Boomerbotti</button>
      <button id="noppa" class="tablink" onclick="demo('Roll-a-dice', this, 'pink')">Roll-a-dice</button>
      <button id="netti" class="tablink" onclick="demo('Nettisivusto', this, 'rgb(190, 253, 222)')">Nettisivusto</button>
    </div>

    <div id="Boomerbotti" class="tabcontent">
      <div class="container">
        <p class="content">
          Tämä projekti vei monen kynnyksen yli: sen lisäksi, että se on ensimmäinen itsenäinen projektini, on se myös ensimmäinen Python- ja RPA-projektini. 
          Projekti alkoi ajatuksesta tehdä jotain simppeliä, työelämässä käytettävää, sekä totuttuun nähden erilaista - siis klikkibotti! 
          Robotin humoristinen aihe ja toiminnallisuus on omaa syytäni: innostun herkästi projekteista, jotka ovat omiaan aiheuttamaan naurunremakoita. 
          Lisäksi boomerbotin nimessä on miellyttävä sointi.
        </p>
        <p class="content">
          Klikkibotin tekeminen esitteli minulle kaksi merkittävää, uutta asiaa, jotka ovat terminaalilla työskentely, sekä kuvantunnistuskirjaston hyödyntäminen.
        </p>
        <p class="content">
          Ensimmäinen toiminnallisuuteen liittyvä ongelma koski liikkuvia selainikkunoita. Aluksi ei nimittäin ollut edes tarkoitus käyttää kuvantunnistusta, 
          mutta koska selainikkunat ja niissä esiintyvät elementit liikkuivat näennäisen mielivaltaisesti paikasta toiseen, päätin jättää (tietyt) koordinaatit 
          sikseen ja siirtyä kuvantunnistukseen. Suurimmat vaikeudet ja puhinat lätkäistiikin siihen väliin, sillä Pyautoguin latausvaiheessa ilmeni lukuisia ongelmia, 
          joita selvitettiin tuntien ajan kolmen ihmisen (minun ja kahden ammattilaisen) voimin. Ongelmat liittyivät pitkälti shell-skriptiin ja käyttöoikeuksiin, 
          sillä MacOS oli sekä itselleni, että apureilleni vieras käyttöjärjestelmä. Lopulta asiat selvisivät ja palasin ohjelmoimaan.
        </p>
        <p class="content">
          Hämmästyin hieman siitä, miten helppoa klikkibotin rakentaminen yksinkertaisimmillaan on. Sain ensimmäisen toimivan version kasaan parissa tunnissa. 
          Ryhdyinkin seuraavaksi miettimään, miten ja mistä toiminnallisuuksista saisi järkeviä, uudelleenkäytettäviä funktioita. 
          Tämän tutkiminen jäi hieman kesken muiden projektien vietyä huomioni, joten tulen päivittämään bottia vielä.
        </p>
      </div>
    </div>
    <div id="Roll-a-dice" class="tabcontent">
      <div class="container">
        <p class="content">Tässä on noppapeli</p>
      </div>
    </div>
    <div id="Nettisivusto" class="tabcontent">
      <div class="container">
        <p class="content">Tässä on nettisivusto</p>
      </div>
    </div>
  </body>
</html>