<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/projektit.css" />
    <link rel="stylesheet" href="static/index.css" />
    <title>Projektit</title>
    <script>
      //Välilehdet
      function demo(pageName,elmnt,color) {
         var i, tabcontent, tablinks;
         tabcontent = document.getElementsByClassName("tabcontent")
         for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none"
         }
         tablinks = document.getElementsByClassName("tablink")
         for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = ""
         }
         document.getElementById(pageName).style.display = "block"
         elmnt.style.backgroundColor = color
      }
    </script>
  </head>

  <body>
    <!--Navigaatio-->
    <nav class="topnav">
      <a href="http://localhost:5000/">ETUSIVU</a>
			<a class="active" href="http://localhost:5000/projektit">PROJEKTIT</a>
			<a href="http://localhost:5000/ansioluettelo">ANSIOLUETTELO</a>
		</nav>

    <!--Välilehdet-->
    <div>
      <button class="tablink" onclick="demo('Boomerbotti', this, 'blue')">Boomerbotti</button>
      <button class="tablink" onclick="demo('Roll-a-dice', this, 'gray')">Roll-a-dice</button>
      <button class="tablink" onclick="demo('Nettisivusto', this, 'teal')">Nettisivusto</button>
    </div>

    <div id="Boomerbotti" class="tabcontent">
      <p>Tässä on boomerbotti</p>
    </div>
    <div id="Roll-a-dice" class="tabcontent">
      <p>Tässä on noppapeli</p>
    </div>
    <div id="Nettisivusto" class="tabcontent">
      <p>Tässä on nettisivusto</p>
    </div>

  </body>
</html>