<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/projektit.css" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand" />
    <title>Projektit</title>
    <script>
      //Välilehdet
      function demo(pageName,elmnt,color) {
         var i, tabcontent, tablinks;
         tabcontent = document.getElementsByClassName("tabcontent")
         for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none"
         }
         tablinks = document.getElementsByClassName("tablink")
         for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = ""
         }
         document.getElementById(pageName).style.display = "block"
         
         elmnt.style.backgroundColor = color
      }
    </script>
  </head>

  <body>
    <!--Navigaatio-->
    <nav class="topnav">
      <a href="https://green-sky-1493.fly.dev/">ETUSIVU</a>
			<a class="active" href="https://green-sky-1493.fly.dev/projektit">PROJEKTIT</a>
			<a href="https://green-sky-1493.fly.dev/ansioluettelo" target="_blank" rel="noopener noreferrer">ANSIOLUETTELO</a>
		</nav>

    <!--Välilehdet-->
    <div class="lehdet">
      <button id="boomer" class="tablink" onclick="demo('Boomerbotti', this, '#626edb')">Boomerbotti</button>
      <button id="noppa" class="tablink" onclick="demo('Roll-a-dice', this, 'pink')">Roll-a-dice</button>
      <button id="netti" class="tablink" onclick="demo('Nettisivusto', this, 'rgb(190, 253, 222)')">Nettisivusto</button>
    </div>

    <div id="Boomerbotti" class="tabcontent">
      <div class="pcontainer">
        <h2 class="pcontent">ESITTELY</h2>
        <p class="pcontent">
          Tämä on kuvantunnistusta hyödyntävä ohjelmistorobotti. Se on ohjelmoitu Pythonilla ja käyttää kuvantunnistukseen Pyautoguita. 
        </p>
        <p class="pcontent">
          Robotti<br>
            - avaa Mozilla Firefoxin<br>
            - painaa Facebookin pikanäppäintä<br>
            - kirjautuu sisään<br>
            - siirtyy omalle seinälle<br>
            - klikkaa "Mitä mietit?" -ikkunaa<br>
            - kirjoittaa ja julkaisee tilapäivityksen<br>
            - kirjautuu ulos<br>
        </p>
        <p class="pcontent">
          Robotille on mahdollista antaa syöte ajon alussa. Jos syötettä ei tule, robotti valitsee satunnaisen viestin ennaltakirjoitetulta listalta.
        </p>
        <h2 class="pcontent">TAUSTAA</h2>
        <p class="pcontent">
          Projekti alkoi ajatuksesta tehdä jotain simppeliä, työelämässä käytettävää, sekä totuttuun nähden erilaista - siis klikkibotti! 
          Robotin humoristinen aihe ja toiminnallisuus on omaa syytäni, sillä innostun herkästi projekteista, jotka ovat omiaan aiheuttamaan naurunremakoita. 
          Lisäksi boomerbotin nimessä on miellyttävä sointi.
        </p>
        <h2 class="pcontent">MITEN MENI JA MITÄ OPIN</h2>
        <p class="pcontent">
          Klikkibotin tekeminen esitteli minulle kaksi merkittävää, uutta asiaa, jotka ovat terminaalilla työskentely, sekä kuvantunnistuskirjaston hyödyntäminen. 
        </p>
        <p class="pcontent">
          Eräs toiminnallisuuteen liittyvä ongelma koski liikkuvia selainikkunoita. Aluksi ei nimittäin edes ollut tarkoitus käyttää kuvantunnistusta, 
          mutta koska selainikkunat ja niissä esiintyvät elementit liikkuivat näennäisen mielivaltaisesti paikasta toiseen, päätin jättää (tietyt) koordinaatit 
          sikseen ja siirtyä kuvantunnistukseen.
        </p>
        <p class="pcontent">
          Suurimmat vaikeudet ja puhinat koettiin Pyautoguita ladatessa. Shell-skriptissä ja käyttöoikeuksissa ilmeni lukuisia ongelmia, 
          joita selvitettiin tuntien ajan kolmen ihmisen (minun ja kahden ammattilaisen) voimin, MacOS kun oli sekä itselleni, että apureilleni vieras käyttöjärjestelmä.
          Lopulta asiat selvisivät ja terminaalista tehokurssin saaneena palasin ohjelmoimaan. 
        </p>
        <p class="pcontent">
          Hämmästyin hieman siitä, miten helppoa klikkibotin rakentaminen yksinkertaisimmillaan on. Sain ensimmäisen toimivan version kasaan parissa tunnissa. 
          Ryhdyinkin seuraavaksi miettimään, miten ja mistä toiminnallisuuksista saisi järkeviä, uudelleenkäytettäviä funktioita. 
          Tämän tutkiminen jäi hieman kesken muiden projektien vietyä huomioni, joten tulen palaamaan robotin pariin vielä.
        </p>
      </div>
    </div>
    <div id="Roll-a-dice" class="tabcontent">
      <div class="pcontainer">
        <p class="pcontent">Tässä on noppapeli</p>
      </div>
    </div>
    <div id="Nettisivusto" class="tabcontent">
      <div class="pcontainer">
        <p class="pcontent">Tässä on nettisivusto</p>
      </div>
    </div>
  </body>
</html>